/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	margin: 20px auto
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {width: 840px; margin-bottom: 0px;}
a {text-decoration: none; color: orange; font-family: 'Bowlby One SC', sans-serif; font-size: 20px}
a:hover {color: lightblue}
footer a {font-size: 15px; margin-right: 20px}
p {padding: 5px; line-height: 130%; text-indent: 10px}
h1 {font-family: 'Syncopate', sans-serif; font-size: 40px}
header h1 {font-family: 'Monofett', cursive; font-size: 160px; padding: 10px}
nav ul li {text-decoration: none; display: inline-block; font-family: Helvetica; margin-right: 20px}
nav {margin: 10px; margin-bottom: 20px; display: block; padding: 20px; background-color: black; border-radius: 20px; width: 200px; text-align: center}
#content {float:left; margin-bottom: 20px; margin-left: 20px}
.blog-post {width: 400px; font-family: helvetica; font-size: 12px;}
#sidebar {width: 400px;font-family: helvetica; font-size: 12px; padding : 5px; float:right}
footer { clear: both; width: 100%; background-color: black; display:block; padding: 10px; height: 40px; margin-top: 30px; position: relative; border-radius: 20px;
		text-align: center; padding: 20px;}